<div class="forabg">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="icon">
                    <dt>
                    <div class="list-inner">{L_AJAX_SHOUTBOX}</div>
                    </dt>
                </dl>
            </li>
        </ul>
        <!-- IF S_CAN_POST_SHOUT -->
        <form action="{U_SUBMIT_SHOUTBOX}" id="ajaxshoutbox_post" method="post">
            {#
                Note: Do not include CSRF protection here. Besides that someone would only be able to post a message
                to the shoutbox, it will add all kind of issues. phpBB only expects 1 active CSRF key in 1 browser,
                but with the possible usage of a shoutbox, you might see that users keep the index open for a long time,
                and start browsing in a different window. When this happen, the CSRF key valid for this form will expire,
                fail for other places and give the user form invalid errors.
            #}
            <input type="hidden" name="sid" value="{SESSION_ID}" />
            <ul class="topiclist ajaxshoutboxpost forums">
                <li class="row">
                    <dl>
                        <dt>{L_AJAX_SHOUTBOX_MESSAGE}{L_COLON} <input type="text" name="text_shoutbox" id="text_shoutbox"/>
                            <input type="submit" name="submit" value="{L_SUBMIT}" class="button2" id="submit_shoutbox">
                        </dt>
                        <dd><div class="ajaxshoutbox_loadingbar" id="ajaxshoutbox_loadbefore"></div></dd>
                    </dl>
                </li>
            </ul>
        </form>
        <!-- ENDIF -->
        <!-- INCLUDEJS @paul999_ajaxshoutbox/js/ajax_shoutbox.js -->
        <script>
            var AJAX_SHOUTBOX_POSTS = "{UA_GET_POST_ACTION}";
            var AJAX_SHOUTBOX_POSTS_NEW = "{UA_GET_POST_ACTION_NEW}";
            var AJAX_SHOUTBOX_POSTS_OLD = "{UA_GET_POST_ACTION_OLD}";
        </script>
        <noscript>
            <ul class="topiclist forums">
                <li class="row">
                    <dl>
                        <dt>{L_NO_JS}</dt>
                    </dl>
                </li>
            </ul>
        </noscript>
        <div id="shoutbox_scroll">
            <ul class="topiclist shoutboxlist forums" id="shoutbox_content">
                <li class="row" id="copy">
                    <dl>
                        <dt data-type="user"></dt>
                        <dd data-type="date" class="ajaxshoutbox_date"></dd>
                        <dd data-type="delete" class="ajaxshoutbox_delete">
                            <form action="{U_DELETE_SHOUTBOX}" data-type="submit-delete" method="post">
                                <input type="hidden" name="sid" value="{SESSION_ID}" />
                                <input data-type="delete-id" type="hidden" name="id" value="" />
                                <input type="submit" name="delete" value="{L_DELETE}" class="button2" />
                            </form>
                        </dd>
                        <dd data-type="message" class="ajaxshoutbox_message"></dd>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist waitinglist forums" id="ajaxshoutbox_loadafter">
                <li class="row">
                    <dl>
                        <dt><div class="ajaxshoutbox_loadingbar"></div></dt>
                    </dl>
                </li>
            </ul>
        </div>

    </div>
</div>
