<div class="forabg">
    <div class="inner">
        <ul class="topiclist shoutboxlist">
            <li class="header">
                <dl class="icon">
                    <dt>
                    <div class="list-inner">{L_AJAX_SHOUTBOX}</div>
                    </dt>
                </dl>
            </li>
        </ul>
        <!-- IF S_CAN_POST_SHOUT -->
        <form action="{U_SUBMIT_SHOUTBOX}" data-ajax="true" method="post">
            <ul class="topiclist forums">
                <li class="row">
                    <dl>
                        <dt>{L_SHOUTBOX_MESSAGE}{L_COLON} <input type="text" name="text_shoutbox"/></dt>
                        <dd><input type="submit" name="submit" value="{L_SUBMIT}" class="button2"></dd>
                    </dl>
                </li>
            </ul>
        </form>
        <!-- ENDIF -->
        <!-- INCLUDEJS @paul999_ajaxshoutbox/js/ajax_shoutbox.js -->
        <script>
            var AJAX_SHOUTBOX_POSTS = "{UA_GET_POST_ACTION}";
        </script>
        <noscript>
            <ul class="topiclist forums">
                <li class="row">
                    <dl>
                        <dt>{L_NO_JS}</dt>
                    </dl>
                </li>
            </ul>
        </noscript>
        <div style="max-height: 200px;overflow:scroll;">
            <ul class="topiclist forums" id="shoutbox-row" id="shoutbox_content">
                <li class="row" style="display: none" id="copy">
                    <dl>
                        <dt></dt>
                        <dt><a href="" data-ajax="ajaxshoutbox.remove">{L_SHOUTBOX_DELETE}</a></dt>
                        <dd></dd>
                        <dd></dd>
                    </dl>
                </li>
            </ul>
        </div>

    </div>
</div>
