<!-- IF S_AJAX_SHOUTBOX and not $AJAX_SHOUTBOX_INCLUDED -->
    <!-- IF U_ACP -->
<div class="forabg">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="icon">
                    <dt>
                    <div class="list-inner">{L_AJAX_SHOUTBOX}</div>
                    </dt>
                </dl>
            </li>
        </ul>
        <p>{L_AJAXSHOUTBOX_UNSUPPORTED_STYLE}</p>
</div>

    <!-- ENDIF -->
    <!-- DEFINE $AJAX_SHOUTBOX_INCLUDED = true -->
<!-- ENDIF -->
